<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="Mobile styleguide" />
    <meta name="author" content="Mobile styleguide" />
    <meta name="descripption" content="Mobile styleguide" />
    <title>표준모바일 디자인가이드</title>
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/index.css" />
</head>

<body>
    <div class="guide_back">
        <div class="guide_wrap two_line">
            <header class="two_line">
                <article class="header_in">
                    <div class="header_left">
                        <h1 class="header_logo">
                            <a href="./Accordion&List.html">
                                <span class="sp_logo_uniplus"></span>
                            </a>
                        </h1>
                    </div>
                    <nav class="gnb two_line">
                        <ul class="col_gap40">
                            <li>
                                <a href="Button.html" class="on">Button</a>
                            </li>
                            <li>
                                <a href="Control.html">Control</a>
                            </li>
                            <li>
                                <a href="Input.html">Input</a>
                            </li>
                            <li>
                                <a href="Selectbox_Accordion_Dropdown.html">Selectbox/Accordion/Dropdown</a>
                            </li>
                            <li>
                                <a href="Tab.html">Tab</a>
                            </li>
                            <li>
                                <a href="Navigation_Statusbar.html" class="w128">Navigation/Status bar</a>
                            </li>
                            <li>
                                <a href="Table.html">Table</a>
                            </li>
                            <li>
                                <a href="Card_Banner.html">Card/Banner</a>
                            </li>
                        </ul>
                        <ul class="col_gap40"> 
                            <li>
                                <a href="List.html">List</a>
                            </li>
                            <li>
                                <a href="popup_popover.html">popup/popover</a>
                            </li>
                            <li>
                                <a href="Progress.html">Progress</a>
                            </li>
                            <li>
                                <a href="Play.html">Play</a>
                            </li>
                            <li>
                                <a href="Filter.html">Filter</a>
                            </li>
                            <li>
                                <a href="Map.html">Map</a>
                            </li>
                            <li>
                                <a href="Upload.html">Upload</a>
                            </li>
                            <li>
                                <a href="Message.html">Message</a>
                            </li>
                            <li>
                                <a href="Map.html">Map</a>
                            </li>
                            <li>
                                <a href="Etc.html">Etc</a>
                            </li>
                        </ul>
                    </nav>
                </article>
            </header>
            
            <div class="guide_center">
                <article class="guide_top m-b-40">
                    <h1>Button</h1>
                </article>

                <div class="dflx col_gap100 m-l-270 m-b-10 fs_12_medium tac">
                    <p class="w100">Primary</p>
                    <p class="w100">Secondary</p>
                    <p class="w100">Line</p>
                    <p class="w100">Disabled</p>
                </div>

                <section class="dflx">
                    <div>
                        <div class="dflx">
                            <h2 class="fs_14_bold m-t-50 m-r-60 w72">Box</h2>
                            <div class="m-t-50">
                                <p class="comp_size m-b-40">Large</p>
                                <p class="comp_size m-b-30">Medium</p>
                                <p class="comp_size">Small</p>
                            </div>
                        </div>
                        <div class="dflx m-t-40">
                            <h2 class="fs_14_bold m-t-50 m-r-60">with icon</h2>
                            <div class="m-t-50">
                                <p class="comp_size m-b-40">Large</p>
                                <p class="comp_size m-b-30">Medium</p>
                                <p class="comp_size">Small</p>
                            </div>
                        </div>
                        <div class="dflx m-t-60">
                            <h2 class="fs_14_bold m-t-50 m-r-60 w72">Icon</h2>
                            <div class="m-t-50">
                                <p class="comp_size m-b-40">Large</p>
                                <p class="comp_size m-b-30">Medium</p>
                                <p class="comp_size">Small</p>
                            </div>
                        </div>
                    </div>
                   

                    <section class="dashed_box m-b-50">
                        <article class="Gr_content">
                            <section class="comp_conts">
                                <dl class="comp_dl m-0">
                                    <dd class="comp_dd">
                                        <div class="compline">
                                            <div class="components">
                                                <button class="btn_box primary btn_l" type="button">Button</button>
                                                <button class="btn_box secondary btn_l" type="button">Button</button>
                                                <button class="btn_box line btn_l" type="button">Button</button>
                                                <button class="btn_box disabled btn_l" type="button">Button</button>
                                            </div>
                                        </div>

                                        <div class="compline">
                                            <div class="components">
                                                <button class="btn_box primary btn_m" type="button">Button</button>
                                                <button class="btn_box secondary btn_m" type="button">Button</button>
                                                <button class="btn_box line btn_m" type="button">Button</button>
                                                <button class="btn_box disabled btn_m" type="button">Button</button>
                                            </div>
                                        </div>

                                        <div class="compline">
                                            <div class="components">
                                                <button class="btn_box primary btn_s m-r-93" type="button">Button</button>
                                                <button class="btn_box secondary btn_s m-r-93" type="button">Button</button>
                                                <button class="btn_box line btn_s m-r-93" type="button">Button</button>
                                                <button class="btn_box disabled btn_s m-r-93" type="button">Button</button>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </section>
                        </article>

                        <article class="Gr_contents m-t-100">
                            <section class="comp_conts">
                                <dl class="comp_dl m-0">
                                    <dd class="comp_dd">
                                        <div class="compline m-b-20">
                                            <div class="components">
                                                <button class="btn_box primary btn_l" type="button">
                                                    <span class="m-r-6">
                                                        <img src="../../assets/images/with_icon_fff_20.svg" alt="" class="w20" />
                                                    </span>
                                                    <span class="fc_white">Button</span>
                                                </button>
                                                <button class="btn_box secondary btn_l" type="button">
                                                    <span class="m-r-6">
                                                        <img src="../../assets/images/with_icon_bk_20.svg" alt="" class="w20" />
                                                    </span>
                                                    <span>Button</span>
                                                </button>
                                                <button class="btn_box line btn_l" type="button">
                                                    <span class="m-r-6">
                                                        <img src="../../assets/images/with_icon_bk_20.svg" alt="" class="w20" />
                                                    </span>
                                                    <span>Button</span>
                                                </button>
                                                <button class="btn_box disabled btn_l" type="button">
                                                    <span class="m-r-6">
                                                        <img src="../../assets/images/with_icon_bk_20.svg" alt="" class="w20 op02" />
                                                    </span>
                                                    <span class="op02">Button</span>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="compline">
                                            <div class="components">
                                                <button class="btn_box primary btn_m" type="button">
                                                    <span class="m-r-6">
                                                        <img src="../../assets/images/with_icon_fff_20.svg" alt="" class="w20" />
                                                    </span>
                                                    <span class="fc_white">Button</span>
                                                </button>
                                                <button class="btn_box secondary btn_m" type="button">
                                                    <span class="m-r-6">
                                                        <img src="../../assets/images/with_icon_bk_20.svg" alt="" class="w20" />
                                                    </span>
                                                    <span>Button</span>
                                                </button>
                                                <button class="btn_box line btn_m" type="button">
                                                    <span class="m-r-6">
                                                        <img src="../../assets/images/with_icon_bk_20.svg" alt="" class="w20" />
                                                    </span>
                                                    <span>Button</span>
                                                </button>
                                                <button class="btn_box disabled btn_m" type="button">
                                                    <span class="m-r-6">
                                                        <img src="../../assets/images/with_icon_bk_20.svg" alt="" class="w20 op02" />
                                                    </span>
                                                    <span class="op02">Button</span>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="compline">
                                            <div class="components">
                                                <button class="btn_box primary btn_s m-r-73" type="button">
                                                    <span class="m-r-6">
                                                        <img src="../../assets/images/with_icon_fff_20.svg" alt="" class="w20" />
                                                    </span>
                                                    <span class="fc_white">Button</span>
                                                </button>
                                                <button class="btn_box secondary btn_s m-r-73" type="button">
                                                    <span class="m-r-6">
                                                        <img src="../../assets/images/with_icon_bk_20.svg" alt="" class="w20" />
                                                    </span>
                                                    <span>Button</span>
                                                </button>
                                                <button class="btn_box line btn_s m-r-73" type="button">
                                                    <span class="m-r-6">
                                                        <img src="../../assets/images/with_icon_bk_20.svg" alt="" class="w20" />
                                                    </span>
                                                    <span>Button</span>
                                                </button>
                                                <button class="btn_box disabled btn_s m-r-73" type="button">
                                                    <span class="m-r-2">
                                                        <img src="../../assets/images/with_icon_bk_20.svg" alt="" class="w20 op02" />
                                                    </span>
                                                    <span class="op02">Button</span>
                                                </button>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </section>
                        </article>

                        <article class="Gr_contents m-t-100">
                            <section class="comp_conts">
                                <dl class="comp_dl m-0">
                                    <dd class="comp_dd">
                                        <div class="compline m-b-20">
                                            <div class="components gap153">
                                                <button class="btn_icon primary large" type="button">
                                                    <span>
                                                        <img src="../../assets/images/with_icon_fff_20.svg" alt="" class="w20" />
                                                    </span>
                                                </button>
                                                <button class="btn_icon secondary large" type="button">
                                                    <span>
                                                        <img src="../../assets/images/with_icon_bk_20.svg" alt="" class="w20" />
                                                    </span>
                                                </button>
                                                <button class="btn_icon line large" type="button">
                                                    <span>
                                                        <img src="../../assets/images/with_icon_bk_20.svg" alt="" class="w20" />
                                                    </span>
                                                </button>
                                                <button class="btn_icon disabled large" type="button">
                                                    <span>
                                                        <img src="../../assets/images/with_icon_bk_20.svg" alt="" class="w20 op02" />
                                                    </span>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="compline">
                                            <div class="components gap153">
                                                <button class="btn_icon primary medium m-r-10" type="button">
                                                    <span>
                                                        <img src="../../assets/images/with_icon_fff_20.svg" alt="" class="w20" />
                                                    </span>
                                                </button>
                                                <button class="btn_icon secondary medium m-r-10" type="button">
                                                    <span>
                                                        <img src="../../assets/images/with_icon_bk_20.svg" alt="" class="w20" />
                                                    </span>
                                                </button>
                                                <button class="btn_icon line medium m-r-10" type="button">
                                                    <span>
                                                        <img src="../../assets/images/with_icon_bk_20.svg" alt="" class="w20" />
                                                    </span>
                                                </button>
                                                <button class="btn_icon disabled medium m-r-10" type="button">
                                                    <span>
                                                        <img src="../../assets/images/with_icon_bk_20.svg" alt="" class="w20 op02" />
                                                    </span>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="compline">
                                            <div class="components gap153">
                                                <button class="btn_icon primary small m-r-20" type="button">
                                                    <span>
                                                        <img src="../../assets/images/with_icon_fff_20.svg" alt="" class="w20" />
                                                    </span>
                                                </button>
                                                <button class="btn_icon secondary small m-r-20" type="button">
                                                    <span>
                                                        <img src="../../assets/images/with_icon_bk_20.svg" alt="" class="w20" />
                                                    </span>
                                                </button>
                                                <button class="btn_icon line small m-r-20" type="button">
                                                    <span>
                                                        <img src="../../assets/images/with_icon_bk_20.svg" alt="" class="w20" />
                                                    </span>
                                                </button>
                                                <button class="btn_icon disabled small m-r-20" type="button">
                                                    <span>
                                                        <img src="../../assets/images/with_icon_bk_20.svg" alt="" class="w20 op02" />
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </section>
                        </article>
                    </section>
                </section>
                
                <div class="dflx col_gap100 m-l-270 m-b-10 fs_12_medium tac">
                    <p class="w60">Underline</p>
                    <p class="w60">Basic</p>
                    <p class="w80">Delete</p>
                    <p class="w60">with icon</p>
                    <p class="w80">with arrow</p>
                </div>

                <section class="dflx">
                    <h2 class="fs_14_bold m-t-50 m-r-60 w72">Text</h2>
                    <div class="m-t-30">
                        <p class="comp_size m-b-20">Abled</p>
                        <p class="comp_size">Disabled</p>
                    </div>
                   
                    <article class="dashed_box">
                        <section class="comp_conts">
                            <dl class="comp_dl m-0">
                                <dd class="comp_dd">
                                    <div class="compline m-t-0">
                                        <div class="components col_gap100">
                                            <button class="text_btn under" type="button">Button</button>
                                            <button class="text_btn basic" type="button">Button</button>
                                            <button class="text_btn delete" type="button">Button</button>
                                            <button class="text_btn with" type="button">
                                                <p>
                                                    <img src="../../assets/images/with_icon_bk_20.svg" alt="" />
                                                </p>
                                                <span>Button</span>
                                            </button>
                                            <button class="text_btn with" type="button">
                                                <span>Button</span>
                                                <p>
                                                    <img src="../../assets/images/arrow_right_bk_20.svg" alt="" />
                                                </p>
                                            </button>
                                        </div>
                                    </div>
    
                                    <div class="compline m-0">
                                        <div class="components col_gap100">
                                            <button class="text_btn under disabled" type="button">Button</button>
                                            <button class="text_btn basic disabled" type="button">Button</button>
                                            <button class="text_btn disabled" type="button">Button</button>
                                            <button class="text_btn with disabled" type="button">
                                                <p>
                                                    <img src="../../assets/images/with_icon_bk_20.svg" alt="" />
                                                </p>
                                                <span>Button</span>
                                            </button>
                                            <button class="text_btn with disabled" type="button">
                                                <span>Button</span>
                                                <p>
                                                    <img src="../../assets/images/arrow_right_bk_20.svg" alt="" />
                                                </p>
                                            </button>
                                        </div>
                                    </div>

                                </dd>
                            </dl>
                        </section>
                    </article>
                </section>

            </div>
        </div>
    </div>
</body>

</html>