<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="Mobile styleguide" />
    <meta name="author" content="Mobile styleguide" />
    <meta name="descripption" content="Mobile styleguide" />
    <title>표준모바일 디자인가이드</title>
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/air-datepicker.css" />
</head>

<body>
    <div class="guide_back">
        <div class="guide_wrap two_line">
            <header class="two_line">
                <article class="header_in">
                    <div class="header_left">
                        <h1 class="header_logo">
                            <a href="./Accordion&List.html">
                                <span class="sp_logo_uniplus"></span>
                            </a>
                        </h1>
                    </div>
                    <nav class="gnb two_line">
                        <ul class="col_gap40">
                            <li>
                                <a href="Button.html">Button</a>
                            </li>
                            <li>
                                <a href="Control.html">Control</a>
                            </li>
                            <li>
                                <a href="Input.html" class="on">Input</a>
                            </li>
                            <li>
                                <a href="Selectbox_Accordion_Dropdown.html">Selectbox/Accordion/Dropdown</a>
                            </li>
                            <li>
                                <a href="Tab.html">Tab</a>
                            </li>
                            <li>
                                <a href="Navigation_Statusbar.html">Navigation/Status bar</a>
                            </li>
                            <li>
                                <a href="Table.html">Table</a>
                            </li>
                            <li>
                                <a href="Card_Banner.html">Card/Banner</a>
                            </li>
                        </ul>
                        <ul class="col_gap40"> 
                            <li>
                                <a href="List.html">List</a>
                            </li>
                            <li>
                                <a href="popup_popover.html">popup/popover</a>
                            </li>
                            <li>
                                <a href="Progress.html">Progress</a>
                            </li>
                            <li>
                                <a href="Selector.html">Selector</a>
                            </li>
                            <li>
                                <a href="Tab&Toggle.html">Tab&Toggle</a>
                            </li>
                            <li>
                                <a href="Tables.html">Tables</a>
                            </li>
                            <li>
                                <a href="Tree.html">Tree</a>
                            </li>
                            <li>
                                <a href="Upload.html">Upload</a>
                            </li>
                            <li>
                                <a href="Chart.html">Chart</a>
                            </li>
                            <li>
                                <a href="Map.html">Map</a>
                            </li>
                        </ul>
                    </nav>
                </article>
            </header>
            
            <div class="guide_center">
                <article class="guide_top">
                    <h1>Input</h1>
                </article>
 
                <article class="Gr_contents m-t-100">
                    <div class="p-b-30">
                        <h2 class="fs_14_bold">Input label</h2>
                        <div class="fs_12 m-t-12">
                            <p class="m-b-5"></p>
                        </div>
                    </div>
                    <section class="comp_conts">
                        <dl class="comp_dl m-0">
                            <dd class="comp_dd">
                                <div class="compline m-b-20">
                                    <p class="comp_size">Essential(*)</p>
                                    <div class="components">
                                        <div class="input_box">
                                            <input type="text" class="input_bar large readonly" value="Input text" readonly />
                                            <p class="input_text fs_14_medium fc_black60">Hint text</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="compline">
                                    <p class="comp_size">Basic</p>
                                    <div class="components">
                                     
                                    </div>
                                </div>
                            </dd>
                        </dl>
                    </section>
                </article>

                <article class="Gr_contents m-t-100">
                    <div class="dflx col_gap40">
                        <h2 class="fs_14_bold">Text field</h2>
                        <section class="comp_conts">
                            <dl class="comp_dl m-0">
                                <dd class="comp_dd">
                                    <div class="compline m-b-20">
                                        <p class="comp_size">Items</p>
                                        <div class="components">
                                          
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </section>
                    </div>
                </article>

                <article class="Gr_contents m-t-100">
                    <div class="dflx col_gap40">
                        <h2 class="fs_14_bold op00">Text field</h2>
                        <section class="comp_conts">
                            <div class="dflx col_gap100 m-l-100">
                                <p>no Label</p>
                                <p>with Label</p>
                                <p>with Hint txt</p>
                            </div>
                            
                            <dl class="comp_dl m-0">
                                <dd class="comp_dd">
                                    <div class="compline m-b-60">
                                        <p class="comp_size">Default</p>
                                        <div class="components">
                                            <div class="input_box m-t-27">
                                                <input type="text" class="input_bar large" placeholder="Input text" />
                                            </div>

                                            <div class="input_box">
                                                <p class="label_text">Label *</p>
                                                <input type="text" class="input_bar large" placeholder="Input text" />
                                            </div>

                                            <div class="input_box">
                                                <p class="label_text">Label *</p>
                                                <input type="text" class="input_bar large" placeholder="Input text" />
                                                <p class="input_text">Hint text</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="compline m-b-60">
                                        <p class="comp_size">Active</p>
                                        <div class="components">
                                            <div class="input_box m-t-27">
                                                <input type="text" class="input_bar large active" placeholder="Input text" />
                                            </div>

                                            <div class="input_box">
                                                <p class="label_text">Label *</p>
                                                <input type="text" class="input_bar large active" placeholder="Input text" />
                                            </div>

                                            <div class="input_box">
                                                <p class="label_text">Label *</p>
                                                <input type="text" class="input_bar large active" placeholder="Input text" />
                                                <p class="input_text">Hint text</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="compline m-b-60">
                                        <p class="comp_size">Error</p>
                                        <div class="components">
                                            <div class="input_box m-t-27">
                                                <input type="text" class="input_bar large error" placeholder="Input text" />
                                            </div>

                                            <div class="input_box">
                                                <p class="label_text">Label *</p>
                                                <input type="text" class="input_bar large error" placeholder="Input text" />
                                            </div>

                                            <div class="input_box">
                                                <p class="label_text">Label *</p>
                                                <input type="text" class="input_bar large error" placeholder="Input text" />
                                                <p class="input_text">Hint text</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="compline m-b-60">
                                        <p class="comp_size">Success</p>
                                        <div class="components">
                                            <div class="input_box m-t-27">
                                                <input type="text" class="input_bar large success icon w240" value="Input text" />
                                                <button type="button" class="input_icon">
                                                    <img src="../../assets/images/success_check_20.svg" alt="" />
                                                </button>
                                            </div>

                                            <div>
                                                <p class="label_text">Label *</p>
                                                <div class="input_box">
                                                    <input type="text" class="input_bar large success icon w240" value="Input text" />
                                                    <button type="button" class="input_icon">
                                                        <img src="../../assets/images/success_check_20.svg" alt="" />
                                                    </button>
                                                </div>
                                            </div>

                                            <div>
                                                <p class="label_text">Label *</p>
                                                <div class="input_box">
                                                    <input type="text" class="input_bar large success icon w240" value="Input text" />
                                                    <button type="button" class="input_icon">
                                                        <img src="../../assets/images/success_check_20.svg" alt="" />
                                                    </button>
                                                    <p class="input_text">Hint text</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="compline m-b-60">
                                        <p class="comp_size">Disabled</p>
                                        <div class="components">
                                            <div class="input_box m-t-27">
                                                <input type="text" class="input_bar large disabled" placeholder="Input text" disabled />
                                            </div>

                                            <div class="input_box">
                                                <p class="label_text">Label *</p>
                                                <input type="text" class="input_bar large disabled" placeholder="Input text" disabled />
                                            </div>

                                            <div class="input_box">
                                                <p class="label_text">Label *</p>
                                                <input type="text" class="input_bar large disabled" placeholder="Input text" disabled />
                                                <p class="input_text">Hint text</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="compline">
                                        <p class="comp_size">Read only</p>
                                        <div class="components">
                                            <div class="input_box m-t-27">
                                                <input type="text" class="input_bar large readonly w240" value="Input text" readonly />
                                            </div>

                                            <div class="input_box">
                                                <p class="label_text">Label *</p>
                                                <input type="text" class="input_bar large readonly w240" value="Input text" readonly />
                                            </div>

                                            <div class="input_box">
                                                <p class="label_text">Label *</p>
                                                <input type="text" class="input_bar large readonly w240" value="Input text" readonly />
                                                <p class="input_text">Hint text</p>
                                            </div>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </section>
                    </div>
                </article>
                
                <!-- textarea -->
                <article class="Gr_contents m-t-100">
                    <div class="dflx col_gap40">
                        <h2 class="fs_14_bold">Text area</h2>
                      
                        <section class="comp_conts">
                            <dl class="comp_dl m-0">
                                <dd class="comp_dd">
                                    <div class="compline">
                                        <p class="comp_size"></p>
                                        <div class="components">
                                            <div class="input_box m-t-27">
                                                <textarea type="text" class="textarea_bar">Input text</textarea>
                                            </div>

                                            <div class="input_box">
                                                <p class="label_text">Label *</p>
                                                <textarea type="text" class="textarea_bar readonly w240">Input text</textarea>
                                            </div>

                                            <div class="input_box">
                                                <p class="label_text">Label *</p>
                                                <textarea type="text" class="textarea_bar readonly w240">Input text</textarea>
                                                <p class="input_text">Hint text</p>
                                            </div>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </section>
                    </div>
                </article>

                <article class="Gr_contents m-t-100">
                    <div class="dflx col_gap40">
                        <h2 class="fs_14_bold">Search bar</h2>
                        <section class="comp_conts">
                            <dl class="comp_dl m-0">
                                <dd class="comp_dd">
                                    <div class="compline">
                                        <p class="comp_size"></p>
                                        <div class="components">
                                            <div class="input_box">
                                                <input type="text" class="input_bar large icon search w240" value="Search" />
                                                <button type="button" class="input_icon">
                                                    <img src="../../assets/images/search_20.svg" alt="" />
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </section>
                    </div>
                </article>

                <article class="Gr_contents m-t-100">
                    <div class="dflx col_gap40">
                        <h2 class="fs_14_bold">Stepper</h2>
                        <section class="comp_conts">
                            <dl class="comp_dl m-0">
                                <dd class="comp_dd">
                                    <div class="compline">
                                        <p class="comp_size"></p>
                                        <div class="components">
                                            <div class="dflx_ac_jcent col_gap20 w115">
                                                <button class="stepper_box">
                                                    <img src="../../assets/images/minus_bk_16.svg" alt="minus" />
                                                </button>
                                                <p>123</p>
                                                <button class="stepper_box">
                                                    <img src="../../assets/images/plus_bk_16.svg" alt="plus" />
                                                </button> 
                                            </div>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </section>
                    </div>
                </article>
                
                <!-- Pickers  -->
                <article class="Gr_contents m-t-100">
                    <div class="dflx col_gap40">
                        <h2 class="fs_14_bold">Pickers</h2>
                        <section class="comp_conts">
                            <dl class="comp_dl m-0">
                                <dd class="comp_dd">
                                    <div class="compline">
                                        <p class="comp_size">Default</p>
                                        <div class="components">
                                            <div class="sorting_line dflx_ac">
                                                <div class="dflx_ac">
                                                    <div class="input_box date_icon">
                                                        <input type="text" class="input_bar large input_date" id="singleDate01" value="" placeholder="YYYY/MM/DD" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                                </dd>
                            </dl>

                            <dl class="comp_dl m-0">
                                <dd class="comp_dd">
                                    <div class="compline">
                                        <p class="comp_size">Monthly</p>
                                        <div class="components">
                                            <div class="dflx col_gap20">
                                                <div type="text" id="singleDate02" value="" placeholder="YYYY/MM/DD" ></div>
                                                <div type="text" id="dualCalendar03" value="" placeholder="YYYY/MM/DD" ></div>
                                            </div>
                                        </div>
                                    </div>
                                </dd>
                            </dl>

                            <dl class="comp_dl m-0">
                                <dd class="comp_dd">
                                    <div class="compline">
                                        <p class="comp_size">Week</p>
                                        <div class="components m-r-20">
                                            <div class="dflx_ac col_gap10">
                                                <button class="week_box on">
                                                    <p class="aweek">M</p>
                                                    <p class="date">25</p>
                                                </button>
                                                <button class="week_box">
                                                    <p class="aweek">T</p>
                                                    <p class="date">26</p>
                                                </button>
                                                <button class="week_box">
                                                    <p class="aweek">W</p>
                                                    <p class="date">27</p>
                                                </button>
                                                <button class="week_box">
                                                    <p class="aweek">T</p>
                                                    <p class="date">28</p>
                                                </button>
                                                <button class="week_box">
                                                    <p class="aweek">F</p>
                                                    <p class="date">29</p>
                                                </button>
                                                <button class="week_box">
                                                    <p class="aweek">S</p>
                                                    <p class="date">30</p>
                                                </button>
                                                <button class="week_box">
                                                    <p class="aweek">S</p>
                                                    <p class="date">1</p>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="components">
                                            <div class="dflx_ac col_gap10">
                                                <div class="aweek_box on">
                                                    일
                                                </div>
                                                <div class="aweek_box on">
                                                    월
                                                </div>
                                                <div class="aweek_box on">
                                                    화
                                                </div>
                                                <div class="aweek_box">
                                                    수
                                                </div>
                                                <div class="aweek_box">
                                                    목
                                                </div>
                                                <div class="aweek_box">
                                                    금
                                                </div>
                                                <div class="aweek_box">
                                                    토
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </dd>
                            </dl>

                            <dl class="comp_dl m-0">
                                <dd class="comp_dd">
                                    <div class="compline">
                                        <p class="comp_size">Time</p>
                                        <div class="components">
                                           <div class="dflx_ac col_gap20">
                                                <select class="selector large w260">
                                                    <option value="전체" selected>전체</option>
                                                    <option value="제목">제목</option>
                                                    <option value="내용">내용</option>
                                                    <option value="기관명">기관명</option>
                                                </select>
                                                <p>:</p>
                                                <select class="selector large w260">
                                                    <option value="전체" selected>전체</option>
                                                    <option value="제목">제목</option>
                                                    <option value="내용">내용</option>
                                                    <option value="기관명">기관명</option>
                                                </select>
                                           </div>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </section>
                    </div>
                </article>

            </div>
        </div>
    </div>
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/air-datepicker.js"></script>
    <script>
        
         // datepicker 날짜 변수
         let enDefault = {
            days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
            daysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
            daysMin: ['S', 'M', 'T', 'W', 'T', 'F', 'S'],
            months: ['January','February','March','April','May','June', 'July','August','September','October','November','December'],
            monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            today: 'Today',
            clear: 'Clear',
            dateFormat: 'yyyy/MM/dd',
            timeFormat: 'hh:mm aa',
            firstDay: 0
        };
        // 기본형 datepikcer
        function defaultPicker(el, visibleOption) {
                let element = el;
                new AirDatepicker(element, {
                    autoClose: false,
                    locale: enDefault,
                    visible: visibleOption,
                    position({ $datepicker, $target, $pointer }) {
                        let coords = $target.getBoundingClientRect(),
                            dpHeight = $datepicker.clientHeight,
                            dpWidth = $datepicker.clientWidth;

                        let top = coords.y + coords.height + window.scrollY + 3;
                        let left = coords.x;

                        $datepicker.style.left = `${left}px`;
                        $datepicker.style.top = `${top}px`;
                    }
                });
            }

            // range
            function rangePicker(el, visibleOption, date) {
                let element = el;
                new AirDatepicker(element, {
                    autoClose: false,
                    range: true,
                    multipleDatesSeparator: ' ~ ',
                    locale: enDefault,
                    visible: visibleOption,                    
                    selectedDates: date,
                    position({ $datepicker, $target, $pointer }) {
                        let coords = $target.getBoundingClientRect(),
                            dpHeight = $datepicker.clientHeight,
                            dpWidth = $datepicker.clientWidth;

                        let top = coords.y + coords.height + window.scrollY + 3;
                        let left = coords.x;

                        $datepicker.style.left = `${left}px`;
                        $datepicker.style.top = `${top}px`;
                    }
                });
            }

            // dual (start, end)
            let start, end;
            function startEnd(start, end, visibleOption1, visibleOption2) {
                start = new AirDatepicker(start, {
                    onSelect({ date }) {
                        end.update({
                            minDate: date
                        })
                    },
                    autoClose: true,
                    locale: enDefault,
                    visible: visibleOption1,
                    position({ $datepicker, $target, $pointer }) {
                        let coords = $target.getBoundingClientRect(),
                            dpHeight = $datepicker.clientHeight,
                            dpWidth = $datepicker.clientWidth;

                        let top = coords.y + coords.height + window.scrollY + 3;
                        let left = coords.x;

                        $datepicker.style.left = `${left}px`;
                        $datepicker.style.top = `${top}px`;
                    }
                })
                end = new AirDatepicker(end, {
                    onSelect({ date }) {
                        start.update({
                            maxDate: date
                        })
                    },
                    autoClose: true,
                    locale: enDefault,
                    visible: visibleOption2,
                    position({ $datepicker, $target, $pointer }) {
                        let coords = $target.getBoundingClientRect(),
                            dpHeight = $datepicker.clientHeight,
                            dpWidth = $datepicker.clientWidth;

                        let top = coords.y + coords.height + window.scrollY + 3;
                        let left = coords.x;

                        $datepicker.style.left = `${left}px`;
                        $datepicker.style.top = `${top}px`;
                    }
                })
            }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            defaultPicker('#singleDate01', '', '');
            defaultPicker('#singleDate02', '', '');
            defaultPicker('#singleDate03', '', '');
            defaultPicker('#singleDate04', '', '');
            defaultPicker('#singleDate05', '', '');
            defaultPicker('#singleDate06', '', '');
            rangePicker('#dualCalendar03', false, ['2024-04-15', '2024-04-18']);
        })
    </script>

</body>

</html>