<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="Mobile styleguide" />
    <meta name="author" content="Mobile styleguide" />
    <meta name="descripption" content="Mobile styleguide" />
    <title>표준모바일 디자인가이드</title>
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/index.css" />
</head>

<body>
    <div class="wrap">
        <div class="main_contents">
            <img src="../../assets/images/logo_uninetworks.svg" alt="Logo" />
        </div>
    </div>
</body>

</html>